{% extends 'base.html' %} {% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/forms.css') }}" rel="stylesheet" type="text/css">

<title> AXW Valuation Tool (BETA) </title>
{% endblock %} {% block content %}

<div class="row">

    <div class="col-xl-4 col-lg-auto col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">User Inputs for Valuation Engine</h5>
            </div>
            <div class="formwrapper">
                <form action='/valuation' method='POST' autocomplete="off">
                    {{ form.csrf_token }} {% with messages = get_flashed_messages(with_categories=true) %}
                    <div class="form-field_1">{{ form.ui_osoite.label}} {{form.ui_osoite(size=20, id=form.ui_osoite.name)}} {% if messages %} {% for category, message in messages %} {% if category == 'street_err' or category == 'input_err'%}
                        <ul class=errors>
                            <li class="{{ category }}">{{ message }}</li>
                        </ul>
                        {% endif %} {% endfor %} {% endif %}
                    </div>
                    <div class="form-field_1">{{ form.ui_kunta.label}} {{form.ui_kunta(id=form.ui_kunta.name)}} {% if messages %} {% for category, message in messages %} {% if category == 'city_err'%}
                        <ul class=errors>
                            <li class="{{ category }}">{{ message }}</li>
                        </ul>
                        {% endif %} {% endfor %} {% endif %}
                    </div>
                    <div class="form-field_1">{{ form.ui_postinumero.label}} {{form.ui_postinumero(id=form.ui_postinumero.name)}} {% if form.ui_postinumero.errors and form.ui_postinumero.data is not none %}
                        <ul class="errors">
                            {% for error in form.ui_postinumero.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field_1">{{ form.ui_asuntotyyppi.label}} {{form.ui_asuntotyyppi(id=form.ui_asuntotyyppi.name)}}</div>
                    <div class="form-field_1">{{ form.ui_kunto.label}} {{form.ui_kunto(id=form.ui_kunto.name)}}</div>
                    <div class="form-field_1">{{ form.ui_asuinala.label}} {{form.ui_asuinala(id=form.ui_asuinala.name)}} {% if form.ui_asuinala.errors and form.ui_asuinala.data is not none %}
                        <ul class="errors">
                            {% for error in form.ui_asuinala.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field_1">{{ form.ui_rakennusvuosi.label}} {{form.ui_rakennusvuosi(id=form.ui_rakennusvuosi.name)}}</div>
                    <div class="form-field_1">{{ form.ui_huone_lkm.label}} {{form.ui_huone_lkm(id=form.ui_huone_lkm.name)}}</div>
                    <div class="form-field_1">{{ form.ui_kerros.label}} {{form.ui_kerros(id=form.ui_kerros.name)}}</div>
                    <div class="form-field_1"></div>
                    <div class="form-field_1">{{ form.ui_kerros_yht.label}} {{form.ui_kerros_yht(id=form.ui_kerros_yht.name)}}</div>
                    <div class="form-field_1">{{ form.ui_tontti.label}} {{form.ui_tontti(id=form.ui_tontti.name)}} {% if form.ui_tontti.errors and form.ui_tontti.data is not none %}
                        <ul class="errors">
                            {% for error in form.ui_tontti.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field_1">{{ form.ui_vastike.label}} {{form.ui_vastike(id=form.ui_vastike.name)}} {% if form.ui_vastike.errors and form.ui_vastike.data is not none %}
                        <ul class="errors">
                            {% for error in form.ui_vastike.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field_1">
                        <div class="form-field_2">{{ form.ui_hissi.label}} {{form.ui_hissi(id=form.ui_hissi.name)}}</div>
                        <div class="form-field_2">{{ form.ui_vuokrattu.label}} {{form.ui_vuokrattu(id=form.ui_vuokrattu.name)}}</div>
                    </div>
                    <div class="form-field_1">
                        <div class="form-field_2">{{ form.ui_sauna.label}} {{form.ui_sauna(id=form.ui_sauna.name)}}</div>
                        <div class="form-field_2">{{ form.ui_parveke.label}} {{form.ui_parveke(id=form.ui_parveke.name)}}</div>
                    </div>
                    <div class="form-field_1">{{ form.ui_tonttiala.label}} {{form.ui_tonttiala(id=form.ui_tonttiala.name)}} {% if form.ui_tonttiala.errors and form.ui_tonttiala.data is not none %}
                        <ul class="errors">
                            {% for error in form.ui_tonttiala.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-field_1">{{ form.ui_muu_kerrosala.label}} {{form.ui_muu_kerrosala(id=form.ui_muu_kerrosala.name)}} {% if form.ui_muu_kerrosala.errors and form.ui_muu_kerrosala.data is not none %}
                        <ul class="errors">
                            {% for error in form.ui_muu_kerrosala.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="submit-field">
                        <input id="submit" name="submit" type="submit" value="Laske" onclick="onReady();">
                    </div>
                </form>
                {% endwith %}
            </div>
        </div>
    </div>


    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom-datatables.css') }}" rel="stylesheet" type="text/css">
    <div class="col-xl-8 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                <h5 class="m-0 font-weight-bold text-primary">Query History</h5>
            </div>
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin: 15px 30px 30px 0;">
                <!-- DataTales Example -->
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tables" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Osoite</th>
                                    <th>Kunta</th>
                                    <th>Postinro</th>
                                    <th>Asuntotyyppi</th>
                                    <th>Asuinala</th>
                                    <th>Rakennusvuosi</th>
                                    <th>Kunto</th>
                                    <th>Haettu</th>
                                    <th>Hinta</th>
                                    <th>Hinta</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    th {
        font-size: 0.9rem;
    }
    
    td {
        font-size: 0.8rem;
    }
</style>

{% endblock %} {% block additionalscripts %}


<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/forms.css') }}" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->



<script type="text/javascript" charset="utf-8">
    function format(d, map) {
        // `d` is the original data object for the row

        // Sauna
        if (d[10] == 1) {
            var d1 = 'Kyllä'
        } else {
            var d1 = 'Ei'
        }
        // Parveke
        if (d[11] == 1) {
            var d2 = 'Kyllä'
        } else {
            var d2 = 'Ei'
        }
        // Hissi
        if (d[12] == 1) {
            var d3 = 'Kyllä'
        } else {
            var d3 = 'Ei'
        }
        // Vuokrattu
        if (d[13] == 1) {
            var d4 = 'Kyllä'
        } else {
            var d4 = 'Ei'
        }

        return '<div class="row">' + '<div class="col-2">' +
            '<table id = "child_row" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Kerros:</td>' +
            '<td>' + d[18] + '/' + d[19] + '</td>' +
            '</tr>' +
            '<tr>' +
            '<tr>' +
            '<td>Huoneita:</td>' +
            '<td>' + d[17] + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Sauna:</td>' +
            '<td>' + d1 + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Parveke:</td>' +
            '<td>' + d2 + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Hissi:</td>' +
            '<td>' + d3 + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Onko vuokrattu:</td>' +
            '<td>' + d4 + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Vastike:</td>' +
            '<td>' + Intl.NumberFormat('fi-FI', {
                style: 'currency',
                currency: 'EUR',
                maximumSignificantDigits: 3,
            }).format(d[14]) + '</td>' +
            '</tr>' +
            '<tr>' +
            '<tr>' +
            '<td>Tonttityyppi:</td>' +
            '<td>' + d[20] + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Tonttiala:</td>' +
            '<td>' + d[15] + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Muu kerrosala:</td>' +
            '<td>' + d[16] + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Hae uudelleen</td>' +
            '<td class = "repopulate">' + '<img src="{{ url_for("static", filename="dist/img/reload_icon.png") }}" alt="" border=3 height=20 width=20></img>' +
            '</td>' +
            '</tr>' +
            '</table>' +
            '<table>' +
            '</table>' +
            '</div>' +
            '<div class="col-10">' +
            `<div id="map_${d[21]}" class="map">` +
            '</div>' +
            '</div>' +
            '</div>'
    }


    $(document).ready(function() {
        $.fn.dataTable.moment('dd.MM.YYYY HH:mm');
        var table = $('#tables').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            'select': true,
            "ajax": "{{ url_for('valuation_bp.data')}}",
            'scrollX': true,
            'language': {
                'emptyTable': 'No data available in table',
                'processing': '<div class="cssload-dots"><div class="cssload-dot"></div><div class="cssload-dot"></div><div class="cssload-dot"></div><div class="cssload-dot"></div><div class="cssload-dot"></div></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><filter id="goo"><feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur><feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo" ></feColorMatrix></filter></defs>'

            },
            "lengthMenu": [
                [15, 25, 50, -1],
                [15, 25, 50, "All"]
            ],
            'columns': [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": '',
                "type": 'html'
            }, {
                'data': '0'

            }, {
                'data': '1'

            }, {
                'data': '2'

            }, {
                'data': '3'

            }, {
                'data': '4'

            }, {
                'data': '5'

            }, {
                'data': '6'

            }, {
                'data': '7'

            }, {
                'data': '8'

            }, {
                'data': '9',
                render: function(data, type, row) {
                    if (data !== 'Hakuvirhe') {
                        var abbr = "EUR";

                        var symbol = "";
                        if (abbr == "USD") {
                            symbol = "$";

                        } else if (abbr == "GBP") {
                            symbol = "&pound;";

                        } else if (abbr == "EUR") {
                            symbol = "&euro;";
                        }

                        var num = $.fn.dataTable.render.number(' ', '.', 0).display(data);
                        return num + ' ' + abbr;
                    } else {
                        return data;
                    }
                }
            }],
            "order": [
                [8, "desc"]
            ],
            "columnDefs": [{
                "targets": 9,
                "visible": false,
                "searchable": false
            }, {
                'targets': 10,
                'className': 'bolded'
            }],

        });



        // Add event listener for opening and closing details
        $('#tables tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var child_row = document.getElementById("child_row")

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                var query_id = row.data()[21];
                tr.addClass('shown');
                var map = 'map_' + query_id;
                $.ajax({
                    url: "/map",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        'selected': map,
                        'query_id': query_id
                    },
                    dataType: "json",
                    success: function(data) {
                        Plotly.newPlot(map, data);
                    }
                });
            }
        });

        $('#tables tbody').on('click', 'td.repopulate', function() {
            var tr_child = $(this).parentsUntil('tr[role="row"]')[6];
            var tr = tr_child.previousSibling;
            var row = table.row(tr);
            var data = row.data();
            var request = $.ajax({
                url: "/valuation",
                type: "GET",
                contentType: 'application/json;charset=UTF-8',
                data: {
                    'action': 'repopulate',
                    'query_id': data[21]
                },
                dataType: "json"
            });
            request.done(function(data) {
                var forms_data = data;
                const fields = document.querySelectorAll('[id^="ui_"]');
                for (var i = 0; i < fields.length; i++) {
                    var key = fields[i]['id'].replace('ui_', '');
                    if (key in data) {
                        $(fields[i]).val(data[key])
                    }
                }
            });
        });
    });
</script>



{% endblock %}